<h1>Hello world from Sinatra!!!</h1>


<table>
  <tr>
    <th>text</th>
    <th>user</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.text %></td>
      <td><%= post.user_id %></td>
      <td><a href="/posts/<%= post.id%>/edit">Editar</a></td>
      <td><a href="/posts/<%= post.id%>/delete">Eliminar</a></td>
    </tr>
  <% end %>
</table>
